In [14]:
import csv

%precision 2

with open ('mpg.csv') as csvfile:
    mpg = list (csv.DictReader(csvfile))

mpg [:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [15]:
len (mpg)

234

In [17]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [20]:
totalfuel = 0
for d in mpg:
    totalfuel += float (d['cty'])
avg = totalfuel/len (mpg)
print (avg)

16.858974358974358

In [21]:
sum (float (d['cty']) for d in mpg) / len (mpg)

16.86

In [23]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [25]:
sum (float (d['cty']) for d in mpg) 
type (cylinders)

set

In [31]:
listmpg = []
for c in cylinders: #start going through each type of cylinder
    sum1 = 0 #set the sum and count variables
    count1 = 0
    for d in mpg: #go through each of the dictionaries in the list of dictionaries
        if c == d['cyl']: #if the same cylinder, increase sum and count
            sum1 += float (d['cty'])
            count1 += 1
    listmpg.append((c, sum1/count1)) #spacing is very important here
listmpg.sort (key = lambda x:x[0]) 
listmpg

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [40]:
class1 = set (d['class'] for d in mpg)
class1

list2 = []
for c in class1:
    sum2 = 0
    count2 = 0
    for d in mpg:
        if c == d['class']:
            sum2 += float (d['hwy'])
            count2 += 1
    list2.append ((c, sum2/count2))

list2.sort (key = lambda x:x[1]) 
list2

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [41]:
import datetime as dt
import time as tm

In [43]:
dtnow = dt.datetime.fromtimestamp (tm.time())
dtnow

datetime.datetime(2020, 2, 27, 22, 59, 24, 556715)

In [46]:
delta = dt.timedelta (days = 100)
delta

datetime.timedelta(days=100)

In [47]:
today = dt.date.today()
today - delta

datetime.date(2019, 11, 19)